<div>
    <ul ng-init="getAllCategories()">
        <table style="width:100%">
            <tr>
                <th>Name</th>
                <th>Color Code</th>
                <th>Owner</th>
                <th>Description</th>
                <th></th>
            </tr>
            <tr ng-repeat="category in allCategories" ng-style="{'background-color': category.color}">
                <th>{{category.name}}</th>
                <th>{{category.color}}</th>
                <th>{{category.owner}}</th>
                <th>{{category.description}}</th>
                <th>
                    <button class="btn btn-default" ng-click="deleteCategory(category); getAllCategories()">Delete</button>
                </th>
            </tr>
        </table>
    </ul>
</div>

<form name="categoryForm">
    <div class="container-fluid">
        <div class="row">
            <h1>
                Categories
            </h1>
        </div>
        <div class="row">
            <div class="col-md-6">
                <label for="name">Name</label>
                <input class="form-control" type="text" id="name" placeholder="Enter the name for your category"
                       ng-model="category.name" required/>
            </div>
            <div class="col-md-6">
                <label for="color">Color</label>
                <input class="form-control" type="color" id="color" value="#C0FFEE"
                       ng-model="category.color"/>
            </div>

            <div class="col-md-6">
                <label for="description">Description</label>
                <input class="form-control" type="text" id="description" placeholder="Category description"
                       ng-model="category.description"/>
            </div>
        </div>
        <br/>
        <button ng-disabled="" class="btn btn-default" ng-click="createCategory(); getAllCategories()">Register</button>
    </div>
</form>