<div class="col-md-10 col-md-offset-1">
  <div class="row">
    <h2>Events</h2>
  </div>
  <div class="table-responsive row">
    <table class="table" ng-init="getAllEvents()">
      <thead>
      <tr>
        <th>Title</th>
        <th>Start</th>
        <th>End</th>
        <th>Category</th>
        <th>Location</th>
        <th>Notes</th>
        <th>Allday</th>
        <!-- Empty headers to have a border also over the glyphicons -->
        <th></th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <tr ng-repeat="event in allEvents" ng-style="{'background-color': '#c0ffee'}">
        <td>{{event.title}}</td>
        <td>{{event.start}}</td>
        <td>{{event.end}}</td>
        <td>{{event.category}}</td>
        <td>{{event.location}}</td>
        <td>{{event.notes}}</td>
        <td>{{event.allday}}</td>
        <td>
          <i class="glyphicon glyphicon-trash" ng-click="deleteEvent(event)"></i>
        </td>
        <td>
          <i class="glyphicon glyphicon-pencil" ng-click="addUpdateEvent(event)"></i>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="row">
    <button ng-click="addUpdateEvent(null)" class="btn btn-default col-md-3"><i class="glyphicon glyphicon-plus"></i></button>
  </div>
</div>
