<div>
    <ul ng-init="getAllEvents()">
        <table style="width:100%">
                <tr>
                    <th>Title</th>
                    <th>Start</th>
                    <th>End</th>
                    <th>Category</th>
                    <th>Location</th>
                    <th>Notes</th>
                    <th>Allday</th>
                </tr>
            <tr ng-repeat="x in allEvents" ng-style="{'background-color':'teal'}">
                <th>{{x.title}}</th>
                <th>{{x.start}}</th>
                <th>{{x.end}}</th>
                <th>{{x.category}}</th>
                <th>{{x.location}}</th>
                <th>{{x.notes}}</th>
                <th>{{x.allday}}</th>
                <th ng-show="false">{{x.id}}</th>
        </tr>
        </table>
    </ul>
</div>

<form name="registerForm">
    <div class="container-fluid">
        <div class="row">
            <h1>
                Events
            </h1>
        </div>
        <div class="row">
            <div class="col-md-6">
                <label for="title">Title</label>
                <input class="form-control" type="text" id="title" placeholder="Enter the title for your event"
                       ng-model="event.title" required/>
            </div>
            <div class="col-md-6">
                <label for="start">Start Date and Time</label>
                <input class="form-control" type="date" id="start" placeholder="YYYY-MM-DDTHH:mm:ss.000Z"
                       ng-model="event.start"/>
            </div>

            <div class="col-md-6">
                <label for="end">End Date and Time</label>
                <input class="form-control" type="date" id="end" placeholder="YYYY-MM-DDTHH:mm:ss.000Z"
                       ng-model="event.end"/>
            </div>
        </div>
        <br/>

        <div class="row">
            <div class="col-md-6">
                <label for="allday">Allday Event</label>
                <input class="form-control" type="checkbox" id="allday" placeholder="Enter your e-mail address"
                       ng-model="event.allday"/>
            </div>
            <div class="col-md-6">
                <label for="category">Category</label>
                <input class="form-control" type="text" id="category" placeholder="Enter the category"
                       ng-model="event.category"/>
            </div>
        </div>
        <br/>

        <div class="row">
            <div class="col-md-6">
                <label for="location">Location</label>
                <input class="form-control" type="text" id="location" placeholder="Enter the location of your event"
                       ng-model="event.location" required/>
            </div>
            <div class="col-md-6">
                <label for="notes">Notes</label>
                <input class="form-control" type="text" id="notes"
                       placeholder="Enter your password. Again..." ng-model="event.notes" required/>
            </div>
        </div>
        <br/>
        <button ng-disabled="" class="btn btn-default" ng-click="createEvent()">Register</button>
    </div>
</form>