<div ng-init="bEvent=$rootScope.event" class="col-md-10 col-md-offset-1 col-sm-12 col-xs-12">
  <div class="row">
    <h2>
      Event: {{event.title}}
    </h2>
  </div>

  <input ng-show="false" ng-model="event.id" ng-init="$scope.event.id=bEvent._id">

  <form name="eventForm">
    <div class="row">
      <div class="row">
        <div class="col-md-7 col-sm-7 col-xs-12">
          <label for="title">Title</label>
          <input class="form-control" type="text" id="title" placeholder="Enter the title"
                 ng-model="event.title" ng-init="$scope.event.title=bEvent.title" required/>
          <br/>
        </div>

        <div class="col-md-4 col-md-offset-1 col-sm-4 col-sm-offset-1 col-xs-12">
          <label ng-init="getAllCategories()" for="category">Category</label>

          <select ng-model="event.category" id='category' ng-init="$scope.event.category.name=bEvent.category"
                  required ng-model="event.category"
                  ng-options="category.name for category in allCategories">
          </select>

          <br/>
        </div>
      </div>

      <div class="row">
        <div class="col-md-3 col-sm-4 col-xs-12">
          <label for="startDate">Start Date</label>
          <input class="form-control" type="text" id="startDate"
                 placeholder="YYYY-MM-DD" ng-model="event.start"
                 ng-init="$scope.event.start=bEvent.start" required/>
          <br/>


          <label for="startTime">Start Time</label>
          <input class="form-control" type="text" id="startTime" ng-model="event.startTime"
                 placeholder="HH:MM:ss"
                 ng-init="setStartTime()" required>
          <br/>
        </div>

        <div class="col-md-3 col-md-offset-1 col-sm-4 col-sm-offset-1 col-xs-12">
          <label for="endDate">End Date</label>
          <input class="form-control" type="text" id="endDate"
                 placeholder="YYYY-MM-DD" ng-model="event.end"
                 ng-init="$scope.event.end=bEvent.end" required/>
          <br/>


          <label for="endTime">End Time</label>
          <input class="form-control" type="text" id="endTime" ng-model="event.endTime"
                 placeholder="HH:MM:ss"
                 ng-init="setEndTime()" required>
          <br/>
        </div>
      </div>

      <div class="row">
        <div class="col-md-7 col-sm-7 col-xs-12">
          <label for="location">Location</label>
          <input class="form-control" type="text" id="location" placeholder="Enter the location"
                 ng-model="event.location" ng-init="$scope.event.location=bEvent.location"/>
        </div>
      </div>
      <br/>

      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <label for="notes">Notes</label>
          <textarea class="form-control" rows="4" id="notes" placeholder="Enter your notes"
                    ng-model="event.notes" ng-init="$scope.event.notes=bEvent.notes"></textarea>
        </div>
      </div>
      <br/>

      <button ng-disabled="eventForm.$invalid" class="btn btn-default col-md-2 col-sm-4 col-xs-12"
              ng-click="createOrUpdate()">
        Submit
      </button>
    </div>
  </form>
</div>