<div class="container row">
  <h1>
    Register
  </h1>
  <div class="panel panel-default row">
    <div class="panel-body">
      <div ng-app="myApp" ng-controller="RegisterController">
        <form novalidate>
          <input class="form-control" type="text" placeholder="Username" ng-model="user.username" />
          <input class="form-control" type="text" placeholder="Name" ng-model="user.name" />
          <input class="form-control" type="email" placeholder="E-Mail" ng-model="user.email" />
          <input class="form-control" type="date"  placeholder="DD.MM.YYYY" ng-model="user.dob" />
          <input class="form-control" type="password" placeholder="Password" ng-model="user.password" />
          <input class="form-control" type="text" placeholder="Retype Password" ng-model="user.retype" />
          <button ng-click="register()">Register</button>
        </form>
        <p>form = {{user}}</p>
        <p>master = {{master}}</p>
      </div>
    </div>
  </div>
</div>